@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", san-serif;
}
body{
    background-image: url("");
    background-color: black;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url("4089.jpg");
}
.container{
    display: grid;
    width: 550px;
    height: 400px;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.box{
    position: absolute;
    padding: 15px;
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.295);
}
.search-bar{
    display: flex;
    overflow: hidden;
}
#search-bar{
    height: 1cm;
    width: 6cm;
    border-radius: 30px;
    padding-inline-start: 40px;
    text-transform: uppercase;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    font: bold;
    outline: none;
    background: transparent;
    color: white;
}
#search-bar::placeholder{
    color: white;
    text-transform: capitalize;
    font-size: 22px;
}
#location-icon{
    width: 0.5cm;
    position: absolute;
    left: 25px;
    font-size: 25px;
    top: 23px;
    color: beige;
}
#search-button{
    position: absolute;
    right: 25px;
    font-size: 27px;
    top: 23px;
    color: beige;
}
.weather-details{
    position: absolute;
    width: 100%;
    height: 12cm;
    bottom: 0;
    left: 0;
    font: bold;
}
.humidity{
    position: absolute;
    width: 50%;
    height: 5cm;
    left: 0;
    bottom: 0;
    display: flex;
}
.weather-details img{
    position: absolute;
    height: 4cm;
    width: 4cm;
    left: 32%;
    top: 5%;
}
.weather-details h1{
    position: relative;
    left: 40%;
    top: 32.4%;
    margin-right: 1px;
    overflow: auto;
}
.extra-details{
    display: flex;
    display: grid;
    width: 100%;
    position: absolute;
    height: 200px;
    bottom: -30px;
    left: 25px;
}
.humidity #per{
    position: absolute;
    overflow: auto;
    left: 3cm;
    font-size: 18px;
    top: 60px;
}
.temp{
    position: absolute;
    width: 50%;
    height: 5cm;
    bottom: 0;
    right: 0;
    display: flex;
}
.temp i{
    font-size: 60px;
}
.humidity i{
    font-size: 60px;
}
#percent{
    font-size: 25px;
    margin-left: 5px;
}
#wind-speed{
    position: absolute;
    top: 32px;
    right: 60px;
    font-family: 18px;
}
#percentage{
    font-size: 25px;
    margin-left: 15px;
}
#humidity{
    position: absolute;
    top: 32px;
    left: 65px;
    font-size: 18px;
}